:root {
    --main-text-color : #fff
}

section {
    width: 100vw;
    height: 100vh;
    color: var(--main-text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url('./images/me.jpg') center center;
    background-size: cover;
    text-align: center;
}

p {
    line-height: 1.7;
}

h3 {
    font-size: 3rem;
}

button {
    background: transparent;
    color: var(--main-text-color);;
}

.download {
    border: 3px solid var(--main-text-color);
    border-radius: 2rem;
    /* font-size: 1.5rem; */
    font-weight: bold;
    padding: 1rem 2rem;
}

.mouse {
    position: absolute;
    bottom: 1rem;
    border: none;
    font-size: 1.5rem;
}